.backgroundcolor1{
    background-color:cadetblue;
    
}
.backgroundcolor2{
    background-color:coral;
}
.first{
    background-color: bisque;
}
.second{
    background-color:crimson;
}
.third{
    background-color: burlywood;
}
.fourth{
    background-color: darkslategrey;
}